h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* title section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* features section */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.25rem;
}

.features-box {
  padding: 5%;
}

.icon:hover {
  color: #ff4c68;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

/* testemonials section */
.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 1rem;
}

/* press section */
#press {
  padding: 2%;
}

.press-image {
  width: 15%;
  margin: 1.5rem 1rem;
}

/* pricing section */
.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.card-column {
  margin: 3% 0;
}

.card-lg-body {
  padding: 1rem 0 4rem 0;
}

.card-footer {
  background-color: white;
}

@media (max-width: 1028px) {
  .title-image {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}

/* footer section */
#footer {
  padding-top: 5%;
}

.icon-footer {
  margin-left: 1rem;
  color: gray;
}
